:root { 
--gray_600:#706e70; 
--gray_100_3f:#f5f5f53f; 
--gray_600_21:#706e7021; 
--gray_301:#e6e6e6; 
--gray_600_12:#706e7012; 
--gray_901:#00122e; 
--gray_900:#1a171c; 
--gray_600_19:#706e7019; 
--red_400:#f54f59; 
--gray_101:#f5f5f5; 
--gray_200:#ebe8ed; 
--gray_300:#dedede; 
--gray_600_14:#706e7014; 
--gray_100:#f5f5fa; 
--bluegray_900:#001a40; 
--black_900:#000000; 
--indigo_900:#002459; 
--deep_orange_500:#ff5e14; 
--white_A700:#ffffff; 
}