
 @font-face { font-style : normal; src: url("assets/fonts/latoregular400.ttf"); font-family : "Lato"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/latobold700.ttf"); font-family : "Lato"; font-weight : 700;  }